* {
  margin: 0;
  padding: 0;
}

body {
  margin: 100px;
}

.pop-layer .pop-container {
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.pop-layer p.ctxt {
  color: #666;
  line-height: 50px;
    z-index: 99999;
}

.pop-layer .btn-r {
  width: 95%;
  margin: 0.1em 0 20px;
  padding-top: 2vh;
  text-align: right;
  z-index: 99999;
}

.pop-layer {
 
  position: absolute;
  top: 5vh;
  left: 10vw;
  width: 80vw;
  height: 78vh;
  background-color: #fff;
  
  z-index: 99999;
}

.dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);

}

.dim-layer .pop-layer {
  display: block;
}

.btn-layerClose {
  display: inline-block;
  width: 7vw;
  height: 4vh;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
  left: 48vw;
  top: 65vh;
}

.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}